<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>content</key>
		<array>
			<dict>
				<key>data</key>
				<array>
					<string>2160</string>
				</array>
				<key>type</key>
				<string>2</string>
				<key>desc</key>
				<string>关关雎鸠，在河之洲</string>
				<key>title</key>
				<string>诗经</string>
				<key>image</key>
				<string>shijing</string>
			</dict>
			<dict>
				<key>data</key>
				<array>
					<string>158</string>
				</array>
				<key>type</key>
				<string>3</string>
				<key>desc</key>
				<string>日月不淹，春秋代序</string>
				<key>title</key>
				<string>楚辞</string>
				<key>image</key>
				<string>chuci</string>
			</dict>
			<dict>
				<key>data</key>
				<array>
					<string>114</string>
					<string>115</string>
				</array>
				<key>type</key>
				<string>3</string>
				<key>desc</key>
				<string>人生天地间，忽如远行客</string>
				<key>title</key>
				<string>乐府民歌</string>
				<key>image</key>
				<string>yuefu</string>
			</dict>
			<dict>
				<key>data</key>
				<array>
					<string>400</string>
				</array>
				<key>type</key>
				<string>4</string>
				<key>desc</key>
				<string>对酒当歌，人生几何？</string>
				<key>title</key>
				<string>建安风骨</string>
				<key>image</key>
				<string>jianan</string>
			</dict>
			<dict>
				<key>data</key>
				<array/>
				<key>type</key>
				<string>5</string>
				<key>desc</key>
				<string>欲穷千里目，更上一层楼</string>
				<key>title</key>
				<string>唐诗三百首</string>
				<key>image</key>
				<string>tangshi</string>
			</dict>
			<dict>
				<key>type</key>
				<string>6</string>
				<key>desc</key>
				<string>但愿人长久，千里共婵娟</string>
				<key>title</key>
				<string>宋词三百首</string>
				<key>image</key>
				<string>songci</string>
			</dict>
			<dict>
				<key>type</key>
				<string>7</string>
				<key>desc</key>
				<string>千古是非心，一夕渔樵话</string>
				<key>title</key>
				<string>元曲三百首</string>
				<key>image</key>
				<string>yuanqu</string>
			</dict>
		</array>
		<key>desc</key>
		<string>文章千古事，得失寸心知</string>
		<key>title</key>
		<string>文汇</string>
	</dict>
	<dict>
		<key>content</key>
		<array>
			<dict>
				<key>data</key>
				<array>
					<string>2095</string>
				</array>
				<key>type</key>
				<string>2</string>
				<key>desc</key>
				<string>我本楚狂人，凤歌笑孔丘</string>
				<key>title</key>
				<string>李白</string>
			</dict>
			<dict>
				<key>data</key>
				<array>
					<string>2113</string>
				</array>
				<key>type</key>
				<string>2</string>
				<key>desc</key>
				<string>为人性僻耽佳句，语不惊人死不休</string>
				<key>title</key>
				<string>杜甫</string>
			</dict>
			<dict>
				<key>data</key>
				<array>
					<string>2107</string>
				</array>
				<key>type</key>
				<string>2</string>
				<key>desc</key>
				<string>人闲桂花落，夜静春山空</string>
				<key>title</key>
				<string>王维</string>
			</dict>
			<dict>
				<key>data</key>
				<array>
					<string>2106</string>
				</array>
				<key>type</key>
				<string>2</string>
				<key>desc</key>
				<string>夜来风雨声，花落知多少</string>
				<key>title</key>
				<string>孟浩然</string>
			</dict>
			<dict>
				<key>data</key>
				<array>
					<string>2094</string>
				</array>
				<key>type</key>
				<string>2</string>
				<key>desc</key>
				<string>赋命有厚薄，委心任穷通</string>
				<key>title</key>
				<string>白居易</string>
			</dict>
			<dict>
				<key>data</key>
				<array>
					<string>2092</string>
				</array>
				<key>type</key>
				<string>2</string>
				<key>desc</key>
				<string>烦君最相警，我亦举家清</string>
				<key>title</key>
				<string>李商隐</string>
			</dict>
			<dict>
				<key>data</key>
				<array>
					<string>2096</string>
				</array>
				<key>type</key>
				<string>2</string>
				<key>desc</key>
				<string>十年一觉扬州梦，占得青楼薄幸名</string>
				<key>title</key>
				<string>杜牧</string>
			</dict>
			<dict>
				<key>data</key>
				<array>
					<string>2136</string>
				</array>
				<key>type</key>
				<string>2</string>
				<key>desc</key>
				<string>曾经沧海难为水，除却巫山不是云</string>
				<key>title</key>
				<string>刘禹锡</string>
			</dict>
			<dict>
				<key>data</key>
				<array>
					<string>2103</string>
				</array>
				<key>type</key>
				<string>2</string>
				<key>desc</key>
				<string>一身报国有万死，双鬓向人无再青</string>
				<key>title</key>
				<string>陆游</string>
			</dict>
			<dict>
				<key>data</key>
				<array>
					<string>2104</string>
				</array>
				<key>type</key>
				<string>2</string>
				<key>desc</key>
				<string>不畏浮云遮望眼，只缘身在最高层</string>
				<key>title</key>
				<string>王安石</string>
			</dict>
		</array>
		<key>desc</key>
		<string>文章千古事，得失寸心知</string>
		<key>title</key>
		<string>诗魂</string>
	</dict>
	<dict>
		<key>content</key>
		<array>
			<dict>
				<key>data</key>
				<array>
					<string>2307</string>
				</array>
				<key>type</key>
				<string>2</string>
				<key>desc</key>
				<string>流水落花春去也，天上人间</string>
				<key>title</key>
				<string>李煜</string>
			</dict>
			<dict>
				<key>data</key>
				<array>
					<string>2144</string>
				</array>
				<key>type</key>
				<string>2</string>
				<key>desc</key>
				<string>今宵酒醒何处，杨柳岸晓风残月</string>
				<key>title</key>
				<string>柳永</string>
			</dict>
			<dict>
				<key>data</key>
				<array>
					<string>2123</string>
				</array>
				<key>type</key>
				<string>2</string>
				<key>desc</key>
				<string>泪眼问花花不语，乱红飞过秋千去</string>
				<key>title</key>
				<string>欧阳修</string>
			</dict>
			<dict>
				<key>data</key>
				<array>
					<string>2133</string>
				</array>
				<key>type</key>
				<string>2</string>
				<key>desc</key>
				<string>拣尽寒枝不肯栖，寂寞沙洲冷</string>
				<key>title</key>
				<string>苏轼</string>
			</dict>
			<dict>
				<key>data</key>
				<array>
					<string>2216</string>
				</array>
				<key>type</key>
				<string>2</string>
				<key>desc</key>
				<string>郴江幸自绕郴山，为谁流下潇湘去</string>
				<key>title</key>
				<string>秦观</string>
			</dict>
			<dict>
				<key>data</key>
				<array>
					<string>2116</string>
				</array>
				<key>type</key>
				<string>2</string>
				<key>desc</key>
				<string>吹箫人去玉楼空，肠断与谁同倚</string>
				<key>title</key>
				<string>李清照</string>
			</dict>
			<dict>
				<key>data</key>
				<array>
					<string>2090</string>
				</array>
				<key>type</key>
				<string>2</string>
				<key>desc</key>
				<string>了却君王天下事,嬴得生前身后名</string>
				<key>title</key>
				<string>辛弃疾</string>
			</dict>
			<dict>
				<key>data</key>
				<array>
					<string>2395</string>
				</array>
				<key>type</key>
				<string>2</string>
				<key>desc</key>
				<string>小楫轻舟，梦入芙蓉浦</string>
				<key>title</key>
				<string>周邦彦</string>
			</dict>
			<dict>
				<key>data</key>
				<array>
					<string>2469</string>
				</array>
				<key>type</key>
				<string>2</string>
				<key>desc</key>
				<string>人生若只如初见，何事秋风悲画扇</string>
				<key>title</key>
				<string>纳兰性德</string>
			</dict>
		</array>
		<key>desc</key>
		<string>衣带渐宽终不悔，为伊消得人憔悴</string>
		<key>title</key>
		<string>词苑</string>
	</dict>
</array>
</plist>
