<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>blue</key>
		<string>195</string>
		<key>green</key>
		<string>184</string>
		<key>name</key>
		<string>浅粉色</string>
		<key>red</key>
		<string>229</string>
	</dict>
	<dict>
		<key>blue</key>
		<string>172</string>
		<key>green</key>
		<string>141</string>
		<key>name</key>
		<string>暗粉</string>
		<key>red</key>
		<string>225</string>
	</dict>
	<dict>
		<key>blue</key>
		<string>93</string>
		<key>green</key>
		<string>124</string>
		<key>name</key>
		<string>珊瑚红</string>
		<key>red</key>
		<string>244</string>
	</dict>
	<dict>
		<key>blue</key>
		<string>129</string>
		<key>green</key>
		<string>119</string>
		<key>name</key>
		<string>嫣红</string>
		<key>red</key>
		<string>227</string>
	</dict>
	<dict>
		<key>blue</key>
		<string>208</string>
		<key>green</key>
		<string>202</string>
		<key>name</key>
		<string>粉红</string>
		<key>red</key>
		<string>250</string>
	</dict>
	<dict>
		<key>blue</key>
		<string>80</string>
		<key>green</key>
		<string>40</string>
		<key>name</key>
		<string>赫赤</string>
		<key>red</key>
		<string>209</string>
	</dict>
	<dict>
		<key>blue</key>
		<string>36</string>
		<key>green</key>
		<string>28</string>
		<key>name</key>
		<string>大红</string>
		<key>red</key>
		<string>237</string>
	</dict>
	<dict>
		<key>blue</key>
		<string>160</string>
		<key>green</key>
		<string>143</string>
		<key>name</key>
		<string>桃红</string>
		<key>red</key>
		<string>244</string>
	</dict>
	<dict>
		<key>blue</key>
		<string>59</string>
		<key>green</key>
		<string>40</string>
		<key>name</key>
		<string>殷红</string>
		<key>red</key>
		<string>176</string>
	</dict>
	<dict>
		<key>blue</key>
		<string>111</string>
		<key>green</key>
		<string>144</string>
		<key>name</key>
		<string>酡颜</string>
		<key>red</key>
		<string>249</string>
	</dict>
	<dict>
		<key>blue</key>
		<string>64</string>
		<key>green</key>
		<string>86</string>
		<key>name</key>
		<string>银红</string>
		<key>red</key>
		<string>240</string>
	</dict>
	<dict>
		<key>blue</key>
		<string>54</string>
		<key>green</key>
		<string>87</string>
		<key>name</key>
		<string>绯</string>
		<key>red</key>
		<string>237</string>
	</dict>
	<dict>
		<key>blue</key>
		<string>73</string>
		<key>green</key>
		<string>198</string>
		<key>name</key>
		<string>明黄</string>
		<key>red</key>
		<string>240</string>
	</dict>
	<dict>
		<key>blue</key>
		<string>72</string>
		<key>green</key>
		<string>94</string>
		<key>name</key>
		<string>赫色</string>
		<key>red</key>
		<string>154</string>
	</dict>
	<dict>
		<key>blue</key>
		<string>78</string>
		<key>green</key>
		<string>147</string>
		<key>name</key>
		<string>昏黄</string>
		<key>red</key>
		<string>191</string>
	</dict>
	<dict>
		<key>blue</key>
		<string>77</string>
		<key>green</key>
		<string>137</string>
		<key>name</key>
		<string>黄栌色</string>
		<key>red</key>
		<string>228</string>
	</dict>
	<dict>
		<key>blue</key>
		<string>36</string>
		<key>green</key>
		<string>105</string>
		<key>name</key>
		<string>琥珀</string>
		<key>red</key>
		<string>202</string>
	</dict>
	<dict>
		<key>blue</key>
		<string>34</string>
		<key>green</key>
		<string>221</string>
		<key>name</key>
		<string>柳黄</string>
		<key>red</key>
		<string>201</string>
	</dict>
	<dict>
		<key>blue</key>
		<string>86</string>
		<key>green</key>
		<string>255</string>
		<key>name</key>
		<string>樱草色</string>
		<key>red</key>
		<string>234</string>
	</dict>
	<dict>
		<key>blue</key>
		<string>67</string>
		<key>green</key>
		<string>241</string>
		<key>name</key>
		<string>鹅黄</string>
		<key>red</key>
		<string>255</string>
	</dict>
	<dict>
		<key>blue</key>
		<string>71</string>
		<key>green</key>
		<string>208</string>
		<key>name</key>
		<string>芽绿</string>
		<key>red</key>
		<string>187</string>
	</dict>
	<dict>
		<key>blue</key>
		<string>63</string>
		<key>green</key>
		<string>198</string>
		<key>name</key>
		<string>嫩绿</string>
		<key>red</key>
		<string>141</string>
	</dict>
	<dict>
		<key>blue</key>
		<string>89</string>
		<key>green</key>
		<string>196</string>
		<key>name</key>
		<string>葱绿</string>
		<key>red</key>
		<string>136</string>
	</dict>
	<dict>
		<key>blue</key>
		<string>121</string>
		<key>green</key>
		<string>151</string>
		<key>name</key>
		<string>苍翠</string>
		<key>red</key>
		<string>87</string>
	</dict>
	<dict>
		<key>blue</key>
		<string>0</string>
		<key>green</key>
		<string>217</string>
		<key>name</key>
		<string>葱黄</string>
		<key>red</key>
		<string>163</string>
	</dict>
	<dict>
		<key>blue</key>
		<string>165</string>
		<key>green</key>
		<string>209</string>
		<key>name</key>
		<string>碧色</string>
		<key>red</key>
		<string>27</string>
	</dict>
	<dict>
		<key>blue</key>
		<string>166</string>
		<key>green</key>
		<string>207</string>
		<key>name</key>
		<string>石青</string>
		<key>red</key>
		<string>123</string>
	</dict>
	<dict>
		<key>blue</key>
		<string>236</string>
		<key>green</key>
		<string>238</string>
		<key>name</key>
		<string>水蓝</string>
		<key>red</key>
		<string>214</string>
	</dict>
	<dict>
		<key>blue</key>
		<string>235</string>
		<key>green</key>
		<string>231</string>
		<key>name</key>
		<string>粉蓝</string>
		<key>red</key>
		<string>196</string>
	</dict>
	<dict>
		<key>blue</key>
		<string>229</string>
		<key>green</key>
		<string>197</string>
		<key>name</key>
		<string>天蓝</string>
		<key>red</key>
		<string>66</string>
	</dict>
	<dict>
		<key>blue</key>
		<string>201</string>
		<key>green</key>
		<string>199</string>
		<key>name</key>
		<string>碧蓝</string>
		<key>red</key>
		<string>99</string>
	</dict>
	<dict>
		<key>blue</key>
		<string>236</string>
		<key>green</key>
		<string>215</string>
		<key>name</key>
		<string>淡青</string>
		<key>red</key>
		<string>197</string>
	</dict>
	<dict>
		<key>blue</key>
		<string>175</string>
		<key>green</key>
		<string>97</string>
		<key>name</key>
		<string>琉璃色</string>
		<key>red</key>
		<string>0</string>
	</dict>
	<dict>
		<key>blue</key>
		<string>236</string>
		<key>green</key>
		<string>215</string>
		<key>name</key>
		<string>浅蓝</string>
		<key>red</key>
		<string>144</string>
	</dict>
	<dict>
		<key>blue</key>
		<string>174</string>
		<key>green</key>
		<string>99</string>
		<key>name</key>
		<string>宝蓝</string>
		<key>red</key>
		<string>75</string>
	</dict>
	<dict>
		<key>blue</key>
		<string>227</string>
		<key>green</key>
		<string>233</string>
		<key>name</key>
		<string>月白</string>
		<key>red</key>
		<string>214</string>
	</dict>
	<dict>
		<key>blue</key>
		<string>224</string>
		<key>green</key>
		<string>217</string>
		<key>name</key>
		<string>苍白</string>
		<key>red</key>
		<string>209</string>
	</dict>
	<dict>
		<key>blue</key>
		<string>241</string>
		<key>green</key>
		<string>249</string>
		<key>name</key>
		<string>荼白</string>
		<key>red</key>
		<string>243</string>
	</dict>
	<dict>
		<key>blue</key>
		<string>246</string>
		<key>green</key>
		<string>241</string>
		<key>name</key>
		<string>霜色</string>
		<key>red</key>
		<string>233</string>
	</dict>
	<dict>
		<key>blue</key>
		<string>255</string>
		<key>green</key>
		<string>252</string>
		<key>name</key>
		<string>雪白</string>
		<key>red</key>
		<string>240</string>
	</dict>
	<dict>
		<key>blue</key>
		<string>130</string>
		<key>green</key>
		<string>94</string>
		<key>name</key>
		<string>乌色</string>
		<key>red</key>
		<string>114</string>
	</dict>
	<dict>
		<key>blue</key>
		<string>201</string>
		<key>green</key>
		<string>154</string>
		<key>name</key>
		<string>丁香色</string>
		<key>red</key>
		<string>184</string>
	</dict>
	<dict>
		<key>blue</key>
		<string>227</string>
		<key>green</key>
		<string>164</string>
		<key>name</key>
		<string>雪青</string>
		<key>red</key>
		<string>176</string>
	</dict>
	<dict>
		<key>blue</key>
		<string>102</string>
		<key>green</key>
		<string>66</string>
		<key>name</key>
		<string>黛</string>
		<key>red</key>
		<string>74</string>
	</dict>
	<dict>
		<key>blue</key>
		<string>208</string>
		<key>green</key>
		<string>198</string>
		<key>name</key>
		<string>藕荷色</string>
		<key>red</key>
		<string>228</string>
	</dict>
</array>
</plist>
